@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 211 28% 28%;
    
    --card: 0 0% 100%;
    --card-foreground: 211 28% 28%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 211 28% 28%;
    
    --primary: 149 100% 45%;
    --primary-foreground: 211 28% 28%;
    
    --secondary: 212 33% 17%;
    --secondary-foreground: 218 25% 95%;
    
    --muted: 210 17% 95%;
    --muted-foreground: 211 28% 28%;
    
    --accent: 202 18% 41%;
    --accent-foreground: 218 25% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 210 17% 85%;
    --input: 210 17% 85%;
    --ring: 149 100% 45%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 33% 17%;
    --foreground: 218 25% 95%;

    --card: 212 33% 17%;
    --card-foreground: 218 25% 95%;

    --popover: 212 33% 17%;
    --popover-foreground: 218 25% 95%;

    --primary: 149 100% 45%;
    --primary-foreground: 212 33% 17%;

    --secondary: 212 33% 22%;
    --secondary-foreground: 218 25% 95%;

    --muted: 212 33% 22%;
    --muted-foreground: 218 25% 85%;
    
    --accent: 202 18% 51%;
    --accent-foreground: 218 25% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 212 33% 27%;
    --input: 212 33% 27%;
    --ring: 149 100% 45%;

    --radius: 0.5rem;
  }
}

@layer base {
  html {
    scroll-padding-top: 80px;
    overflow-x: hidden;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground leading-relaxed;
    overflow-x: hidden;
  }
  button, [role="button"] {
    touch-action: manipulation;
  }
}
